{{ define "main" }}
<section>
    <div class="container text-center">
        <div
            class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl bg-gradient-to-b px-8 py-4">
            <h1>{{ .Title | title }}</h1>
        </div>
    </div>
</section>


<section class="m-3">
    <div class="container">
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <div id="map" class="w-full h-screen m-3"></div>

        <script>
            // Creating map options
            var mapOptions = {
                center: [28.415, 84.128],
                zoom: 7
            }
            // Creating a map object
            var map = new L.map('map', mapOptions);

            // Creating a Layer object
            var layer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            var tuth = L.marker([27.73611,85.33016]).addTo(map);
            tuth.bindPopup("TUTH");
        </script>
        {{.Content | markdownify }}
    </div>
</section>
{{ end }}